<!doctype html>

{# The final, outermost wrapper for the site #}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name='viewport' content='width=device-width'>

  <title>{{ site.title }}</title>
  <meta name='description' content={{ site.description }}>
  <meta name="theme-color" content="#fffbeb"
   media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#064e3b"
   media="(prefers-color-scheme: dark)">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
  <link rel="apple-touch-icon" href="/assets/img/favicon/apple-touch-icon.png">
  <link rel="manifest" href="/manifest.json" />

  <link rel="preload" href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css">
  </noscript>
  <link href="/assets/styles/tailwind.css" rel="stylesheet" />
  <link href="/assets/styles/index.css" rel="stylesheet" />
  <script src="/quoteback.js"></script>
</head>

<body class="flex flex-col bg-amber-50 text-black/[.90] dark:text-white/[.90] dark:bg-emerald-900">
  <!-- main.njk -->
  {{ content | safe }}
</body>

</html>