<footer class="mt-8 text-white/[.90] bg-stone-500 dark:bg-black p-9">
  <div class="w-9/12 float-right">
    <p class="text-sm">
      Nathan Cheng
    </p>
    <p class="text-sm">
      {% if site.linkedin != "" %}
      <a href={{ site.linkedin }}>LinkedIn</a>
      {% endif %}
    </p>
    <p class="text-sm opacity-75 text-black dark:text-white">
      © Nathan Cheng unless noted otherwise.
    </p>
  </div>
</footer>