<footer class="px-2 mt-9 flex flex-col gap-8 md:gap-4 md:flex-row">
  <div class="hidden md:block basis-56">
    
  </div>
  <div class="float-left px-2 pb-9 w-full md:w-[70%] md:max-w-screen-md flex flex-col flex-grow space-y-2">
    <ul class="text-sm text-stone-600 dark:text-stone-50/[.80] flex flex-row flex-wrap gap-5 gap-y-1">
      <li class="hover:underline"><a href="mailto:{{metadata.email}}" target="_blank">Email</a></li>
      <li class="hover:underline"><a href="{{metadata.portfolio}}" target="_blank">Portfolio</a></li>
      <li class="hover:underline"><a href="{{metadata.cv}}" target="_blank">CV</a></li>
      <li class="hover:underline"><a href="{{metadata.linkedin}}" target="_blank">LinkedIn</a></li>
      <li class="hover:underline"><a href="{{metadata.letterboxd}}" target="_blank">Letterboxd</a></li>
      <li class="hover:underline"><a href="/feed.xml" target="_blank">RSS</a></li>
    </ul>
    <p class="text-sm text-stone-600 dark:text-stone-50/[.80]">
      © Nathan Cheng unless noted otherwise.
    </p>
  </div>
</footer>