<div class="sticky top-9">
  <nav class="space-y-2 opacity-80 hover:opacity-100">
    <p class="text-xl font-bold text-stone-500 dark:text-stone-300 leading-tight">
      <a href="/">Nathan Cheng</a>
    </p>
    <p class="text-sm font-normal text-stone-500 dark:text-stone-300">
      This blog is under construction. All posts and content are placeholders.
    </p>
    <ul class="pt-4 text-sm text-stone-500 dark:text-stone-300 font-medium flex gap-4 md:grid md:gap-1 mb-4">
      <li><a href="/about">About</a></li>
      <li><a href="/tags">Tags</a></li>
      <li><a href="/archive">Archive</a></li>
      <li>
        <a href="https://nathancheng.work/" target="_blank">Portfolio<sup class="opacity-75">↗</sup></a>
      </li>
      <!-- <li><span class="cursor-pointer" id="toggleDarkMode">Dark mode</spam></li> -->
    </ul>
  </nav>
</div>