<nav class="sticky top-9">
  <p class="text-xl font-wide font-bold text-stone-500 dark:text-stone-50/[.80] leading-tight tracking-tight mb-2">
    <a href="/">Nathan Cheng</a>
  </p>
  <p class="mb-4 text-sm font-normal text-stone-500 dark:text-stone-50/[.80]">
    This blog is under construction. All posts and content are placeholders.
  </p>
  <ul class="text-sm text-stone-500 dark:text-stone-50/[.80] font-medium flex gap-5 md:grid md:gap-2 mb-5 overflow-auto">
    <li><a href="/about">About</a></li>
    <li><a href="/tags">Tags</a></li>
    <li><a href="/archive">Archive</a></li>
    <li>
      <a href="https://nathancheng.work/" target="_blank">Portfolio<sup class="opacity-75">↗</sup></a>
    </li>
    <!-- <li><span class="cursor-pointer" id="toggleDarkMode">Dark mode</spam></li> -->
  </ul>
</nav>