<nav class="inline-block">
  <p class="text-2xl font-bold leading-tight">
    <a href="/">Nathan Cheng</a>
  </p>
  <p class="text-base font-normal pb-10 mt-2">
    Thoughts, notes, reactions, what have you.
  </p>
  <ul class="text-base text-stone-500 font-medium flex gap-3 md:grid md:gap-1 mb-4">
    <li><a href="/about">About</a></li>
    <li><a href="/tags">Tags</a></li>
    <li>
      <a href="https://nathancheng.work/" target="_blank">Portfolio 􀄯</a>
    </li>
    <!-- <li><span class="cursor-pointer" id="toggleDarkMode">Dark mode</spam></li> -->
  </ul>
</nav>