---
layout: main
---

<div id="postData" class="space-y-2 mb-5">
  <p class="date">
    {{ date | postDate }}
  </p>
  <p class="post-title">
    {{ title }}
  </p>
</div>
<article class="post-content">
  {{ content | safe }}
  <div id="postFooter" class="mt-12">
    <a href="{{ post.url }}" class="text-sm text-stone-500 dark:text-stone-50/[.80] font-normal mt-4">
      Link to this post
    </a>
    <div id="postTags" class="mt-4 text-sm text-stone-500 dark:text-stone-50/[.8]">
      <em>More posts tagged:</em>
      <div class="mt-2">
        {% for tag in tags %}
          {% if tag != "posts" %}
            <a href="/tags/{{ tag }}">
              <span class="post-tag">{{ tag }}</span>
              <br></a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div><br>
  </article>