---
layout: main
---

<div id="postData" class="space-y-2 mb-5">
  <p class="date">
    {{ page.date | postDate }}
  </p>
  <h1 class="post-title">
    {{ title }}
  </h1>
</div>
<article class="post-content">
  {{ content | safe }}
</article>
<div id="postFooter" class="mt-12">
  <ul class="text-sm text-stone-500 dark:text-stone-50/[.80] font-normal mt-4 underline-offset-2 flex flex-row gap-2">
    <li><a href="{{ post.url }}">
        <u>Link to this post</u>
      </a></li>
    <li>•</li>
    <li><a href="mailto:{{metadata.email}}?subject=RE: [{{ title | slugify }}]&body=%0A%0APost%20link%3A%0A{{ metadata.url }}{{ page.url }}">
        <u>Reply</u>
      </a></li>
  </ul>
  {% if post.tags != "" %}
  <div id="postTags" class="mt-4 text-sm text-stone-500 dark:text-stone-50/[.8]">
    <em>More posts tagged:</em>
    <div class="mt-2">
      {% for tag in tags %}
      {% if tag != "posts" %}
      <a href="/tags/{{ tag }}">
        <span class="post-tag">{{ tag }}</span>
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% else %}
  {% endif %}
</div>