---
layout: main
---

<div id="postData" class="space-y-2 mb-5">
  <p class="date">
  {{ date | postDate }}
</p>
  <p class="post-title">
    {{title}}
  </p>
</div>

<article class="post-content">
  {{ content | safe }}
  More posts tagged:
  <div class="mt-3 pb-10">
  {% for tag in tags %}
    {% if tag != "posts" %}
      <a href="/tags/{{ tag }}">
        <span class="post-tag">{{ tag }}</span><br>
      </a>
    {% endif %}
  {% endfor %}
  </div>
</article>