@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://rsms.me/inter/inter.css');
  @font-face {
    font-family: 'Druk Text Wide';
    src: font-url('./assets/fonts/DrukTextWide-Medium.woff') format('woff');
    font-display: swap;
  }
}

p {
  @apply max-w-prose;
}

.paginator-text {
  @apply text-stone-500 dark:text-stone-300 py-2 px-4;
}

.post-tag {
  @apply inline-block italic rounded-full hover:underline text-stone-500 dark:text-stone-300;
}

.date {
  @apply text-sm text-stone-500 dark:text-stone-300;
}

.post-title {
  @apply text-xl text-stone-500 dark:text-stone-300 font-bold pb-2 leading-tight; 
}

.post-content {
  @apply pt-8 leading-relaxed prose dark:prose-invert prose-img:rounded-md;
}

.post-inFeed {
  @apply mb-16;
}

.post-link {
  @apply mb-6;
}