---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="About" description="About Nathan Cheng">
  <h1 class="post-title mb-8">About</h1>
  <div class="post-content">
    <p>I'm a <a href="https://nathancheng.work">designer</a> and tinkerer in my 20s interested in recurrent patterns throughout digital platforms, media, and storytelling.</p>
    
    <p>I also publish some of my personal notes at <a href="https://nathancheng.fyi">nathancheng.fyi</a>—a kind of private Wikipedia.</p>

    <p>Elsewhere:</p>
    <ul>
      <li><a href="https://nathancheng.work">Visual portfolio</a></li>
      <li><a href="https://linkedin.com/in/nathancheng57/">LinkedIn</a></li>
      <li><a href="https://letterboxd.com/nathancheng/">Letterboxd</a></li>
      <li><a href="mailto:n@nathancheng.fyi">Email</a></li>
    </ul>
  </div>
</MainLayout>
