---
import MainLayout from '../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('posts', ({ data }) => {
  return data.published === true;
});

const posts = allPosts.sort((a, b) => 
  b.data.date.getTime() - a.data.date.getTime()
);
---

<MainLayout title="Archive" description="All blog posts">
  <h1 class="title-wide">Archive</h1>
  <div class="flex flex-col">
    {posts.map((post) => {
      const date = post.data.date.toLocaleDateString('en-US', { 
        year: 'numeric', 
        month: 'long', 
        day: 'numeric' 
      });
      const tags = post.data.tags.filter(tag => tag !== 'posts');
      return (
        <div class="post-link">
          <p class="post-title link-hover">
            <a href={`/posts/${post.data.slug || post.slug}`}>{post.data.title}</a>
          </p>
          <div id="postInfo">
            <span class="date">{date}</span>
            <span id="postTags" class="ml-2">
              {tags.map((tag) => (
                <a href={`/tags/${tag}`} class="post-tag">
                  {tag}
                </a>
              ))}
            </span>
          </div>
        </div>
      );
    })}
  </div>
</MainLayout>
