---
import MainLayout from '../layouts/MainLayout.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('posts', ({ data }) => {
  return data.published === true;
});

const posts = allPosts.sort((a, b) => 
  b.data.date.getTime() - a.data.date.getTime()
);
---

<MainLayout title="Blog" description="Thoughts and notes on film, internet, design, and media.">
  <div class="flex-col">
    {posts.map((post) => (
      <PostCard post={post} isFeed={true} />
    ))}
  </div>
</MainLayout>
