---
import PostFooter from './PostFooter.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'posts'>;
  isFeed?: boolean;
}

const { post, isFeed = false } = Astro.props;
const { Content } = await post.render();
const date = post.data.date.toLocaleDateString('en-US', { 
  year: 'numeric', 
  month: 'long', 
  day: 'numeric' 
});
---

<div class={isFeed ? 'post-inFeed' : ''}>
  <!-- POST METADATA -->
  <div id="postData" class="space-y-2 mb-5">
    <p class="date">{date}</p>
    {isFeed ? (
      <h2 class="post-title link-hover">
        <a href={`/posts/${post.data.slug || post.slug}`}>{post.data.title}</a>
      </h2>
    ) : (
      <h1 class="post-title">{post.data.title}</h1>
    )}
  </div>
  <!-- POST CONTENT -->
  <article class="post-content">
    <Content />
  </article>
  <!-- POST FOOTER -->
  <PostFooter post={post} />
</div>
