---
layout: main
title: About
---

<p class="prose max-w-prose">
I'm a visual designer who's interested in emerging technology, code, interfaces, and visual storytelling. I’m often reading about current & emerging tech, digital trends, aesthetic movements, and entertainment media—including the ways they intersect and the people who push things forward.
</p>