---
layout: main
title: About
---

<h1 class="title-wide">
	About
</h1>

<div class="post-content">
	<p>
		I'm a 24 y/o visual designer who's interested in emerging technology, code, interfaces, and visual storytelling.
	</p>
	<p>
		Thanks for reading. If you have something you’d like to add to an article or post I’ve written, please feel free to reach out. You can reach me at <a href="mailto:{{metadata.email}}" target="_blank">{{metadata.email}}</a>.
	</p>
	<p>
		You can see some of my work <a href="{{metadata.portfolio}}" target="_blank">here</a> and work-related info about me <a href="{{metadata.portfolio}}/info" target="_blank">here</a>.
	</p>
	<p>
		Other places you can find me:<br />
		<ul class="">
			<li><a href="{{metadata.letterboxd}}" target="_blank">Letterboxd</a></li>
			<li><a href="https://open.spotify.com/user/1237353257?si=08574652c9d4437b" target="_blank">Spotify</a></li>
			<li><a href="{{metadata.cv}}" target="_blank">CV</a> or <a href="{{metadata.linkedin}}" target="_blank">LinkedIn</a></li>
		</ul>
	</p>
</div>