---
layout: main
title: About
---

<h1 class="title-wide">
	About
</h1>

<div class="post-content">
	<p>
		I'm a 24 y/o visual designer who's interested in emerging technology, code, interfaces, and visual storytelling. You can see some of my work <a href="{{metadata.portfolio}}" target="_blank">here</a> and more work-related info <a href="{{metadata.portfolio}}/info" target="_blank">here</a>.
	</p>
	<p>
		If you have something you’d like to add to an article or post I’ve written, please feel free to reach out. You can reach me at <a href="mailto:{{metadata.email}}" target="_blank">{{metadata.email}}</a>. I've linked other places you can find me in this site's footer ↓.
	</p>
</div>