---
layout: main
title: Archive
pagination: 
  data: collections.posts
  size: 1
---
<p class="title-wide">
  Archive
</p>
<!-- Gather posts and display each in a feed -->
{% for post in collections.all %}
{% if post.data.published %}
<div class="post-link">
  <p class="post-title">
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </p>
  <!-- subheading -->
  <!-- <span class="text-base sm:text-2xl font-normal"> &middot; {{ post.content | safe | readTime }} min read</span> -->
  <p class="date">
    {{ post.data.date | postDate }} • 
    <!-- POST TAG(S) -->
    {% for tag in post.data.tags %}
    {% if tag != "posts" %}
    <a href="/tags/{{ tag }}" class="">
      <span class="italic hover:underline">{{ tag }}</span>
    </a>
    {% endif %}
    {% endfor %}
  </p>
  <!-- <p class="mt-4">{{ post.data.post_excerpt }}...</p> -->
</div>
{% endif %}
{% endfor %}
<!-- {% include "paginator.njk" %} -->
