---
layout: main
title: Archive
pagination: 
  data: collections.posts
  size: 1
---
<p class="title-wide">
  Archive
</p>
<!-- Gather posts and display each in a feed -->
{% for post in collections.all %}
{% if post.data.published %}
<div class="post-link">
  <p class="post-title link-hover">
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </p>
  <div id="postInfo">
    <span class="date">
      {{ post.data.date | postDate }} • 
    </span>
    <span id="postTags">
      {% for tag in post.data.tags %}
      {% if tag != "posts" %}
      <a href="/tags/{{ tag }}" class="post-tag">
        {{ tag }}
      </a>
      {% endif %}
      {% endfor %}
    </span>
  </div>
</div>
{% endif %}
{% endfor %}
<!-- {% include "paginator.njk" %} -->
