---
# Metadata comes from _data/metadata.json
permalink: "{{ metadata.feed.path }}"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.description }}</subtitle>
	<link href="{{ metadata.feed.url }}" rel="self"/>
	<link href="{{ metadata.url }}"/>
	<updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<id>{{ metadata.feed.url }}</id>
	<author>
		<name>{{ metadata.name }}</name>
		<email>{{ metadata.email }}</email>
	</author>
	<rights>Copyright © Nathan Cheng</rights>
	{%- for post in collections.posts | reverse %}
	{%- set absolutePostUrl = post.url | url | absoluteUrl(metadata.url) %}
	<entry>
		<title>{{ post.data.title }}</title>
		<link href="{{ absolutePostUrl }}"/>
		<updated>{{ post.date | dateToRfc3339 }}</updated>
		<id>{{ absolutePostUrl }}</id>
		<content xml:lang="{{ metadata.language }}" type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | noFooterTags | smartquotes }}</content>
	</entry>
	{%- endfor %}
</feed>