---
layout: main
title: Blog
description: Thoughts and notes on film, internet, design, and media.
pagination:
  data: collections.posts
  size: 10
  reverse: true
  alias: posts
---
<!-- Gather posts and display each in a feed -->
<div class="flex-col">
  {% for post in pagination.items %}
  {% if post.data.published %}
  <div class="post-inFeed">
    <!-- POST METADATA -->
    <div>
      <p class="post-title hover:text-blue-700 hover:underline">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </p>
      <!-- <span class="text-base sm:text-2xl font-normal"> &middot; {{ post.content | safe | readTime }} min read</span> -->
      <p class="date">
        {{ post.data.date | postDate }}
      </p>
      <!-- <p class="mt-4">{{ post.data.post_excerpt }}...</p> -->
    </div>
    <!-- POST CONTENT -->
    <article class="post-content">
      {{ post.templateContent | safe }}
    </article>
    <!-- POST TAG(S) -->
    <div class="flex mt-4 mb-8">
      <div>
        {% for tag in post.data.tags %}
        {% if tag != "posts" %}
        <a href="/tags/{{ tag }}" class="">
          <div class="post-tag">{{ tag }}</div>
        </a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
<!-- {% include "paginator.njk" %} -->