---
layout: main
title: Blog
description: Thoughts and notes on film, internet, design, and media.
pagination:
  data: collections.posts
  size: 10
  reverse: true
  alias: posts
---
<!-- Gather posts and display each in a feed -->
<div class="flex-col">
  {% for post in pagination.items %}
  {% if post.data.published %}
  <div class="post-inFeed">
    <!-- POST METADATA -->
    <div id="postData" class="space-y-2 mb-5">
      <p class="date">
        {{ post.data.date | postDate }}
      </p>
      <h2 class="post-title link-hover">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </h2>
    </div>
    <!-- POST CONTENT -->
    <article class="post-content">
      {{ post.templateContent | safe }}
    </article>
    <!-- POST FOOTER -->
    <div id="postFooter" class="flex flex-col mt-4 mb-8 gap-4">
      <a href="{{ post.url }}" class="text-sm text-stone-500 dark:text-stone-50/[.80] font-normal mt-4 underline-offset-2">
        <u>Link to this post</u>
      </a>
      {% if post.tags != "" %}
      <div id="postTags">
        {% for tag in post.data.tags %}
        {% if tag != "posts" %}
        <a href="/tags/{{ tag }}" class="">
          <div class="post-tag">{{ tag }}</div>
        </a>
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
<!-- {% include "paginator.njk" %} -->